# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
/dist
/prepack

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.docker_env
.env.*
!.env.example

# database
/database
